

.text-shadow {
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.65)
}

.title-purple {
    color: #4a148c;
}

/*.nav ul a {
    color: #4a148c;
}*/

.nav {
  background-color: #ffffff !important;
}

.flashed h5 {
    line-height: 2;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    color: #aa00ff ;
}

.border-solid {
    border-style: solid;
    border-color:#aa00ff;
    border-width: 0.1em;
    line-height: 2em;
}

.bb-title {
    text-transform: uppercase;
    font-size: 1.75em;
    text-align: center;
}

.btn-small {
    margin:4px;
}

.collapsible-header .col .strong {
    margin: 4px;
    line-height: 40px;
}

.genre-text {
    text-transform: uppercase;
    text-decoration-line: underline;
}

.dropdown-content li>a, .dropdown-content li>span {
    font-size: 16px;
    color: #4a148c;
    display: block;
    line-height: 22px;
    padding: 14px 16px;
}

.footer-content {
    height: 100vh;
    background-color: #4a148c;
}