h1, h2 {
    font-family: 'Anton', sans-serif;
}

.marker-text {
    font-family: 'Nanum Pen Script', cursive;
    line-height: 0.75em;
}

.mono {
    font-family: 'PT Mono', monospace;
    line-height: 1.2em;
    font-size: 1.2em;
}

.text-shadow {
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.65)
}

.title-purple {
    color: #4a148c;
}

/*.nav ul a {
    color: #4a148c;
}*/

.nav {
  background-color: #ffffff !important;
}

hr.purple-bold {
    border: 2px solid #4a148c;
}

hr.purple-light {
    border: 1px solid #4a148c;
}

.headline {
    margin: 1rem 0 1rem;
    font-weight: 800;
}

.white-box {
    background-color: #ffffff;
    text-align: center;
    vertical-align: middle;
}

.flashed h5 {
    line-height: 2;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    color: #aa00ff ;
}

.icon-space {
    padding-bottom: 0.5em;
}

.border-solid {
    border-style: solid;
    border-color:#aa00ff;
    border-width: 0.1em;
    line-height: 2em;
}

.bb-title {
    text-transform: uppercase;
    font-size: 1.75em;
    text-align: center;
    font-weight: 800;
    /* font-family: 'Anton', sans-serif; */

}

.box-text {
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    color: #aa00ff;
    font-size: 1.75em;
    font-weight: 800;
    line-height: 1em;
    padding: 16px 4px 16px 4px;
}

.btn-small {
    margin:4px;
}

.collapsible-header .col .strong {
    margin: 4px;
    line-height: 40px;
}

.genre-text {
    text-transform: uppercase;
    text-decoration-line: underline;
}

.cast-name {
    line-height: 16px;
}

.dropdown-content li>a, .dropdown-content li>span {
    font-size: 16px;
    /* color: #4a148c; */
    display: block;
    line-height: 22px;
    padding: 14px 16px;
}

.footer-content {
    height: 100vh;
    background-color: #4a148c;
}

.dropdown-content {
    white-space: normal;
}

/*
.select-wrapper {
    
}

.select-dropdown .dropdown-trigger {

}
*/