{% extends "base.html" %}
{% block content %}

<div class="container">
<div class="row">
<form action="">
<select class="select2 narrow wrap form-control col-12">
  <option value="AL">Really long name that normally takes up more space</option>
  <option value="AK">Alaska</option>
  <option value="AZ">Arizona</option>
</select>
</form>
</div>
</div>



    <div class="row">
        <div class="col s12 m12 " >
            <div class="card-panel purple lighten-5">
                <h2 class="center-align purple-text text-darken-4 headline">
                    About
                </h2>
                <div class="div-s6">
                    text
                </div>
                <div class="div-s6">
                    image
                </div>
            </div>
        </div>




{% endblock %}