{% extends "base.html" %}
{% block content %}

<div class="container">
<div class="row">
<form action="">
<select class="select2 narrow wrap form-control col-12">
  <option value="AL">Really long name that normally takes up more space</option>
  <option value="AK">Alaska</option>
  <option value="AZ">Arizona</option>
</select>
</form>
</div>
</div>



    <div class="row">
        <div class="col s12 m12 " >
            <div class="card-panel purple lighten-5">
                <h2 class="center-align purple-text text-darken-4 headline">
                    About
                </h2>
                <div class="div-s6">
                    text
                </div>
                <div class="div-s6">
                    image
                </div>
            </div>
        </div>

<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">Character</th>
      <th scope="col">Plot</th>
      <th scope="col">Resolution</th>
      <th scope="col">Setting</th>
      <th scope="col">Inspired By</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>An innocent orphan</td>
      <td>unlock/s ancient telepathic abilities</td>
      <td>and defeat/s a powerful empire</td>
      <td>in a galaxy far, far, away.</td>
      <td class="purple-text"><b>Star Wars</b></td>
    </tr>
    <tr>
      <td>A elderly Sicilian immigrant</td>
      <td>navigate/s assasination attempts and delicate relationships</td>
      <td>while maintaining control over a vast criminal empire</td>
      <td>in post World War II New York City.</td>
      <td class="purple-text"><b>The Godfather </b></td>
    </tr>
    <tr>
      <td>A young princess  </td>
      <td>take/s refuge with a band of dwarves  </td>
      <td>and defeat/s a posionous witch  </td>
      <td>in an animated forest.  </td>
      <td class="purple-text"><b>Snow White  </b></td>
    </tr>
    <tr>
      <td>An enormous ape  </td>
      <td>get/s abducted to a strange land  </td>
      <td>and escape/s capture only to fall to a perilous end  </td>
      <td>in this classic monster tragedy.  </td>
      <td class="purple-text"><b>King Kong  </b></td>
    </tr>
    <tr>
      <td>A diverse band of travellers  </td>
      <td>travel/s through magical forests and perilous valleys  </td>
      <td>and destroy/s an all-powerful relic  </td>
      <td>in this epic three-part trilogy.  </td>
      <td class="purple-text"><b>The Lord of the Rings  </b></td>
    </tr>
    <tr>
      <td>A ragtag group of magical toys  </td>
      <td>fight/s to survive in the real world  </td>
      <td>and ensure/s a happy childhood for their friend  </td>
      <td>in this ground-breaking 3d-animated story.  </td>
      <td class="purple-text"><b>Toy Story  </b></td>
    </tr>
    <tr>
      <td>A stylish gossip columnist  </td>
      <td>socialise/s all night with glamorous and wealthy people  </td>
      <td> and rediscovers/s the sweetness of life  </td>
      <td>in this black and white Italian classic.  </td>
      <td class="purple-text"><b>La Dolce Vita  </b></td>
    </tr>
    <tr>
      <td>An enterprisng family of four   </td>
      <td>infilitrate/s a wealthy household  </td>
      <td>and become/s locked into a tragic existence  </td>
      <td>in a class-divided Korea.  </td>
      <td class="purple-text"><b>Parasite  </b></td>
    </tr>
    <tr>
      <td>An impish young Parisian  </td>
      <td>observe/s the lives of people in their neighbourhood  </td>
      <td>and use/s small, secret good deeds to transform their lives  </td>
      <td>in this colourful and heartwarming French film.   </td>
      <td class="purple-text"><b>Amélie  </b></td>
    </tr>
    <tr>
      <td>  </td>
      <td>  </td>
      <td>  </td>
      <td>  </td>
      <td class="purple-text"><b>  </b></td>
    </tr>
    <tr>
      <td>  </td>
      <td>  </td>
      <td>  </td>
      <td>  </td>
      <td class="purple-text"><b>  </b></td>
    </tr>
    <tr>
      <td>  </td>
      <td>  </td>
      <td>  </td>
      <td>  </td>
      <td class="purple-text"><b>  </b></td>
    </tr>
    <tr>
      <td>  </td>
      <td>  </td>
      <td>  </td>
      <td>  </td>
      <td class="purple-text"><b>  </b></td>
    </tr>
    <tr>
      <td>  </td>
      <td>  </td>
      <td>  </td>
      <td>  </td>
      <td class="purple-text"><b>  </b></td>
    </tr>
    <tr>
      <td>  </td>
      <td>  </td>
      <td>  </td>
      <td>  </td>
      <td class="purple-text"><b>  </b></td>
    </tr>
    <tr>
      <td>  </td>
      <td>  </td>
      <td>  </td>
      <td>  </td>
      <td class="purple-text"><b>  </b></td>
    </tr>
    <tr>
      <td>  </td>
      <td>  </td>
      <td>  </td>
      <td>  </td>
      <td class="purple-text"><b>  </b></td>
    </tr>
    <tr>
      <td>  </td>
      <td>  </td>
      <td>  </td>
      <td>  </td>
      <td class="purple-text"><b>  </b></td>
    </tr>
    <tr>
      <td>  </td>
      <td>  </td>
      <td>  </td>
      <td>  </td>
      <td class="purple-text"><b>  </b></td>
    </tr>
    <tr>
      <td>  </td>
      <td>  </td>
      <td>  </td>
      <td>  </td>
      <td class="purple-text"><b>  </b></td>
    </tr>
    <tr>
      <td>  </td>
      <td>  </td>
      <td>  </td>
      <td>  </td>
      <td class="purple-text"><b>  </b></td>
    </tr>
    <tr>
      <td>  </td>
      <td>  </td>
      <td>  </td>
      <td>  </td>
      <td class="purple-text"><b>  </b></td>
    </tr>
  </tbody>
</table>


{% endblock %}