{% extends "base.html" %}
{% block content %}

                    <div class="row">
                        <div class="div col-12 col-md-6 pt-4">
                            <div class="card-header card-padding">
                                <h4 class="bb-title center-align title-white"><i class="fas fa-film fa-lg icon-space"></i></br>
                                    About the Concept</h4>
                                    </div>
                                </div>
                            <div class="div col-12 col-md-6 pt-4">
                            <div class="card-header card-padding">
                                <h4 class="bb-title center-align title-white"><i class="fas fa-film fa-lg icon-space"></i></br>
                                    About The Inspiration</h4>
                                    </div>
                                </div>
                                </div>

                                <hr class="light">

<h3 class="text-center purple-text title-text"><i class="fas fa-ticket-alt"></i> The Block+Buster+Builder Building Blocks</h3>

<div class="col-10 offset-1">
<h5 class = "text-center mono">
The Block+Buster+Builder Building Blocks have been created from plot summaries of some of the biggest and best movies of all time. In creating these Story Building Blocks, I tried to find unique descriptions of each set of stories characters, plots, resolutions and settings. I also tried to select a variety of film types to so that the story combinations might be as unique as possible.</h5>
</br>
</div>

<div class="col-12">
<h4 class="text-center">
<b>Below is the list of current Block+Buster Building Blocks, and the films that inspired them! </b>
</h4>
</div>


<table class="table table-sm pt-4">
  <thead>
    <tr>
      <th scope="col">Character</th>
      <th scope="col">Plot</th>
      <th scope="col">Resolution</th>
      <th scope="col">Setting</th>
      <th scope="col">Inspired By</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>An innocent orphan</td>
      <td>unlock/s ancient telepathic abilities</td>
      <td>and defeat/s a powerful empire</td>
      <td>in a galaxy far, far, away.</td>
      <td class="purple-text"><b>Star Wars</b></td>
    </tr>
    <tr>
      <td>An elderly Sicilian immigrant</td>
      <td>navigate/s assasination attempts and delicate relationships</td>
      <td>while maintaining control over a vast criminal empire</td>
      <td>in post World War II New York City.</td>
      <td class="purple-text"><b>The Godfather </b></td>
    </tr>
    <tr>
      <td>A young princess  </td>
      <td>take/s refuge with a band of dwarves  </td>
      <td>and defeat/s a posionous witch  </td>
      <td>in an animated forest.  </td>
      <td class="purple-text"><b>Snow White  </b></td>
    </tr>
    <tr>
      <td>An enormous ape  </td>
      <td>get/s abducted to a strange land  </td>
      <td>and escape/s capture only to fall to a perilous end  </td>
      <td>in this classic monster tragedy.  </td>
      <td class="purple-text"><b>King Kong  </b></td>
    </tr>
    <tr>
      <td>A diverse band of travellers  </td>
      <td>travel/s through magical forests and perilous valleys  </td>
      <td>and destroy/s an all-powerful relic  </td>
      <td>in this epic three-part trilogy.  </td>
      <td class="purple-text"><b>The Lord of the Rings  </b></td>
    </tr>
    <tr>
      <td>A ragtag group of magical toys  </td>
      <td>fight/s to survive in the real world  </td>
      <td>and ensure/s a happy childhood for their friend  </td>
      <td>in this ground-breaking 3d-animated story.  </td>
      <td class="purple-text"><b>Toy Story  </b></td>
    </tr>
    <tr>
      <td>A stylish gossip columnist  </td>
      <td>socialise/s all night with glamorous and wealthy people  </td>
      <td> and rediscovers/s the sweetness of life  </td>
      <td>in this black and white Italian classic.  </td>
      <td class="purple-text"><b>La Dolce Vita  </b></td>
    </tr>
    <tr>
      <td>An enterprisng family of four   </td>
      <td>infilitrate/s a wealthy household  </td>
      <td>and become/s locked into a tragic existence  </td>
      <td>in a class-divided Korea.  </td>
      <td class="purple-text"><b>Parasite  </b></td>
    </tr>
    <tr>
      <td>An impish young Parisian  </td>
      <td>observe/s the lives of people in their neighbourhood  </td>
      <td>and use/s small, secret good deeds to transform their lives  </td>
      <td>in this colourful and heartwarming French film.   </td>
      <td class="purple-text"><b>Amélie  </b></td>
    </tr>
    <tr>
      <td>Two children  </td>
      <td>travel/s to a secret jungle island  </td>
      <td>and survive/s being eaten by fearsome, bio-engineered creatures  </td>
      <td>in this dinosaur epic.  </td>
      <td class="purple-text"><b>Jurassic Park  </b></td>
    </tr>
    <tr>
      <td>A mysterious figure in black  </td>
      <td>team/s with a pair of assasins  </td>
      <td>and free/s their captive friend from a life of misery  </td>
      <td>in the kingdom of Florin.  </td>
      <td class="purple-text"><b>The Princess Bride  </b></td>
    </tr>
    <tr>
      <td>An ordinary suburban teenager  </td>
      <td>accidentally travel/s back in time  </td>
      <td>and must find a way back without erasing the future  </td>
      <td>in this 1980's Classic.  </td>
      <td class="purple-text"><b>Back to the Future  </b></td>
    </tr>
    <tr>
      <td>A space lieutenant  </td>
      <td>discover/s a colony pf parasitic creatures  </td>
      <td>and must avoid becoming a host for an alien queen  </td>
      <td>in a nightmarish world designed by H.R. Geiger.  </td>
      <td class="purple-text"><b>Aliens  </b></td>
    </tr>
    <tr>
      <td>A team of trendy strangers  </td>
      <td>break/s into people's dreams  </td>
      <td>and plant/s thoughts into the minds of others  </td>
      <td> in this world-bending, head-spinning thriller. </td>
      <td class="purple-text"><b>Inception  </b></td>
    </tr>
    <tr>
      <td>Two siblings with a sick mother  </td>
      <td>move/s into a new home in the woods   </td>
      <td>and befriend/s a trio of magical forest creatures  </td>
      <td>in rural Japan.  </td>
      <td class="purple-text"><b>My Neighbor Totorro  </b></td>
    </tr>
    <tr>
      <td>An astronaut  </td>
      <td>return/s from space after travelling through time  </td>
      <td>and discover/s that apes now dominate the planet  </td>
      <td>in post-apocalyptic United States of America.  </td>
      <td class="purple-text"><b>Planet of the Apes  </b></td>
    </tr>
    <tr>
      <td>A teenager from Kansas and their dog  </td>
      <td>ride/s a tornado to a strange land  </td>
      <td>and help/s their friends find what they need most  </td>
      <td>in this Technicolor musical.  </td>
      <td class="purple-text"><b>The Wizard of Oz </b></td>
    </tr>
    <tr>
      <td>A drummer battling addiction  </td>
      <td>become/s deaf and enters a support program  </td>
      <td>and learn/s to accept and understand their new-found abilities  </td>
      <td>in this award-winning Independent film.  </td>
      <td class="purple-text"><b>The Sound of Metal  </b></td>
    </tr>
    <tr>
      <td>A jazz musician and an actress  </td>
      <td>find/s love through art, astronomy and music  </td>
      <td>and fall/s out of love but achieve their dreams anyway  </td>
      <td>in a brightly-coloured modern-day Los Angeles.  </td>
      <td class="purple-text"><b> LA LA Land </b></td>
    </tr>
    <tr>
      <td>A former nun  </td>
      <td>bring/s joy and music to the children in their care   </td>
      <td>and help/s engineer a daring escape from fascists </td>
      <td>in the hills of Austria.  </td>
      <td class="purple-text"><b>The Sound of Music  </b></td>
    </tr>
  </tbody>
</table>


{% endblock %}