{% extends "base.html" %}
{% block content %}



    <h3 class="text-center purple-text title-text"><i class="fas fa-video"></i> Build a Block+Buster</h3>
    <!-- story -->

    <div class="row card build-card card-padding">
        <div class="body">


        <form class="col s12" method="POST" action="{{ url_for('add_story') }}">
            <h3 class="build-title purple-text"><i class="fas fa-puzzle-piece prefix"></i>
                 Build the Story</h3> 

        <div class="row">
        <!-- character -->
                <div class="input-field col-12 ">
                    <select id="character_name" name="character_name" class="validate form-control" required>
                        <option value="" disabled selected>Choose Character/s</option>
                            {% for character in characters %}
                                 <option value="{{ character.character_name }}">{{ character.character_name }}</option>
                            {% endfor %}
                    </select>
                </div>

                <!-- plot -->
                <div class="input-field col-12 ">
                     <select id="plot_name" name="plot_name" class="validate form-control" required>
                         <option value="" disabled selected>Pick Plot</option>
                            {% for plot in plots %}
                                 <option value="{{ plot.plot_name }}">{{ plot.plot_name }}</option>
                            {% endfor %}
                    </select>
                </div>

                <!-- resolution -->
                <div class="input-field col-12">
                     <select id="resolution_name" name="resolution_name" class="validate form-control" required>
                         <option value="" disabled selected>Choose Resolution</option>
                            {% for resolution in resolutions %}
                                 <option value="{{ resolution.resolution_name }}">{{ resolution.resolution_name }}</option>
                            {% endfor %}
                    </select>
                </div>
            
                <!-- setting -->
                <div class="input-field col-12">
                     <select id="setting_name" name="setting_name" class="validate form-control" required>
                         <option value="" disabled selected>Select Setting</option>
                            {% for setting in settings %}
                                 <option value="{{ setting.setting_name }}">{{ setting.setting_name }}</option>
                            {% endfor %}
                    </select>
                </div>

                <!-- randomize -->
                <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col-md-6 text-center">
                            <button type="button" value="Randomize" class="btn btn-primary text-center btn-block" onclick="clickme();">
                                <h5 class="white-text text-center"><i class="fas fa-random"></i> Randomize The Story</h5>
                            </button>
                        </div>
                    </div>
                </div>
            </div>


            <!-- title-->
            <div class="row pt-4">
                  <div class="form-group col-12 col-md-8">
                <h3 class="build-title purple-text"><i class="fas fa-pencil-alt purple-title"></i>
                    Write the Title</h3>
                        <input id="title_name" name="title_name" minlength="3"
                        maxlength="80" type="text" class="input-field form-control validate" required>
                    <!--<label for="title_name">Title of Block+Buster</label>-->
                </div>
                <!-- genre -->
                <div class="col-12 col-md-4">
                    <h3 class="build-title purple-text"><i class="fas fa-theater-masks purple-text darken-4"></i> 
                        Choose a Genre</h3>
                    <div class="input-field">
                            <select id="genre_name" name="genre_name" class="form-control validate" required>
                                <option value="" disabled selected>Genre</option>
                                {% for genre in genres %}
                                    <option value="{{ genre.genre_name }}">{{ genre.genre_name }}</option>
                                {% endfor %}
                            </select>
                         <!-- <label for="genre_name">Pick a Genre </label> */ -->
                    </div>
                </div>
            </div>
            <!-- cast -->


             <h3 class="text-center purple-text title-text pt-4"><i class="fas fa-users prefix purple-text"></i> 
                    Select the Cast</h3>
                <p class="text-center">Three cast members allowed per Block+Buster!</p>
                <hr class="purple-thin">
             <div class="row">
                    {% for cast in casts %}
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-6">
                        <label class ="cast_url">
                            <img class="rounded-circle" width="100%" src="{{ cast.cast_url }}">
                        </label>

                            <div class="checkbox-inline cast-label">
                                <label><input type="checkbox" class="cast-checkbox" value="{{ cast._id }}" name="cast_id" id="cast_id" multiple>
                                  <span>{{ cast.cast_name }}</span>
                                </label>
                            </div>

                        </div>
                    {% endfor %}
            </div>

            <!-- limitModal -->
              <div class="modal fade" id="limitModal" tabindex="-1" role="dialog" aria-labelledby="limitModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title purple-text text-center" id="limitModalLabel">Cast Limit Reached!</h3>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                            </div>
                            <div class="modal-body">
                                <p class="text-center"><b>Only three cast members allowed per Block+Buster!</b></p>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-lg btn-primary" data-dismiss="modal"><i class="fas fa-check"></i> OK</button>
                            </div>

                        </div>
                    </div>
                </div>

            <!-- minModal -->
              <div class="modal fade" id="minModal" tabindex="-1" role="dialog" aria-labelledby="minModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title purple-text text-center" id="minModalLabel">Cast at least one Actor!</h3>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                            </div>
                            <div class="modal-body">
                                <p class="text-center">We're not making <b>Koyaanisqatsi</b> here! </br>Cast at least one actor, please.</p>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-lg btn-primary" data-dismiss="modal"><i class="fas fa-check"></i> OK</button>
                            </div>

                        </div>
                    </div>
                </div>

            <!-- submit button -->

            <div class="container">
                <div class="row justify-content-md-center pt-4">
                    <div class="col-md-6 text-center">
<input class="btn btn-lg btn-primary" type="button" name="submit_button" value="Do Something" onclick="checkcast();"/>

                        <button type="submit" class="btn-lg btn-primary text-center">
                            <i class="fas fa-video"></i> Publish
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


{% endblock %}