<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    {% block styles %}
    {% endblock %}
    <title>Block+Buster+Builder</title>
</head>

    <header>
        <!-- topmost navigation -->
        <nav class="nav-extended text-shadow purple darken-2">
            <div class="nav-wrapper">
            <a href="#!" class="brand-logo">Block+Buster+Builder</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="fas fa-chevron-circle-down"></i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#"><i class="fas fa-home fa-lg"></i> Home</a></li>
                <li><a href="#"><i class="fas fa-user-circle fa-lg"></i> Profile</a></li>
                <li><a href="{{ url_for('get_stories') }}"><i class="fas fa-film fa-lg"></i> Browse</a></li>
                <li><a href="#"><i class="fas fa-video fa-lg"></i> Build</a></li>
                <li><a href="{{ url_for('login') }}"><i class="fas fa-sign-in-alt fa-lg"></i> Login</a></li>
                <li><a href="#"><i class="fas fa-sign-out-alt fa-lg"></i> Logout</a></li>
                <li><a href="{{ url_for('register') }}"><i class="fas fa-user-plus fa-lg"></i> Register</a></li>
                <li><a href="#"><i class="fas fa-info-circle fa-lg"></i> About</a></li>
            </ul>
            </div>
        </nav>

        <!-- mobile sidebar navigation -->
        <ul class="sidenav" id="mobile-demo">
            <li><h5 class="center-align purple-text text-darken-3">Block+Buster+Builder</h5></li>
            <li><a href="#"><i class="fas fa-home"></i> Home</a></li>
            <li><a href="#"><i class="fas fa-user-circle"></i> Profile</a></li>
            <li><a href="{{ url_for('get_stories')  }}"><i class="fas fa-film"></i> Browse</a></li>
            <li><a href="#"><i class="fas fa-video"></i> Build</a></li>
            <li><a href="{{ url_for('login') }}"><i class="fas fa-sign-in-alt"></i> Login</a></li>
            <li><a href="#"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
            <li><a href="{{ url_for('register') }}"><i class="fas fa-user-plus"></i> Register</a></li>
            <li><a href="#"><i class="fas fa-info-circle"></i> About</a></li>
        </ul>
    </header>

    <section>
        <!-- flash messages appear here-->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages%}
                    <div class="row flashed">
                        <h5 class="purple lighten-5 center-align">{{ message }}</h5>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </section>

<body>
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" 
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}
    {% endblock %}
</body>
<footer>

        <footer class="page-footer purple">
          <div class="footer-copyright">
            <div class="container">
            <em><b>&#169;</b>2021 Please Note: Block+Buster+Builder Website is for educational purposes only.</em>
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>
</html>