{% extends "base.html" %}
{% block content %}

    <h4 class="purple-text text-darken-4 center-align">The Block+Busters</h3>


    <ul class="collapsible">
        {% for story in stories %}
        <li>
            <div class="collapsible-header white-text purple purple accent-3">
                <strong><h5 class="bb-title">
                    {{ story.title_name }}&nbsp;<i class="fas fa-ticket-alt"></i>
                </h5></strong>
            </div>
            <div class="collapsible-body">
                <div class="col s6"> 
                    <strong><em><h6 class="genre-text">
                        {{ story.genre_name }}</h6></br>
                        <h5>{{ story.character_name }} {{ story.plot_name }} {{ story.resolution_name }}  {{ story.setting_name }} </h5> 
                    </em></strong>
                     <p><em>by: {{ story.created_by }}</em></p>
                </div>
                <div class="col s6"> 
                    <strong><em>
                        {{ story.cast_name }}
                        <p>placeholder</p>
                    </em></strong>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>


{% endblock %}

