{% extends "base.html" %}
{% block content %}

    <h4 class="center-align purple-text text-darken-4">
        <i class="fas fa-video"></i> Build a Block+Buster
    </h4>

    <div class="row card-panel purple lighten-5">
        <form class="col s12" method="POST" action="">
            <div class="input-field row">
               <i class="fas fa-puzzle-piece prefix purple-text darken-4"></i>
               Build the Story
            </div>
            <div class="row">
                <div class="input-field col m6 s12">
                <i class="fas fa-ticket-alt prefix purple-text darken-4"></i>
                    <input id="title_name" name="title_name" minlength="3"
                    maxlength="80" type="text" class="validate" required>
                    <label for="title_name">Title of Block+Buster</label>
                </div>
                <div class="input-field col m6 s12">
                    <div class="input-field col s12">
                        <i class="fas fa-theater-masks prefix purple-text darken-4"></i> 
                            <select id="genre_name" name="genre_name" class="validate" required>
                                <option value="" disabled selected>Pick a Genre</option>
                                {% for genre in genres %}
                                    <option value="{{ genre.genre_name }}">{{ genre.genre_name }}</option>
                                {% endfor %}
                            </select>
                            <label for="genre_name">Pick a Genre </label>
                        </div>
                 </div>
            </div>
            <div class="input-field row">
                <i class="fas fa-users prefix purple-text darken-4"></i> 
                Select a Cast
            </div>
        </form>
    </div>


{% endblock %}