{% extends "base.html" %}
{% block content %}

    <h4 class="center-align purple-text text-darken-4">
        <i class="fas fa-video"></i> Edit Block+Buster
    </h4>
    <!-- story -->
    <div class="row card-panel purple lighten-5">
        <form class="col s12" method="POST" action="{{ url_for('edit_story', story_id=story._id) }}">
                 <h5><i class="fas fa-puzzle-piece prefix purple-text darken-4"></i>
                 Edit the Story</h5>
            <div class="row">
                 <!-- character -->
                <div class="input-field col l3 m6 s12">
                    <select id="character_name" name="character_name" class="validate" required>
                        <option value="" disabled>Choose Character/s</option>
                            {% for character in characters %}
                                {% if character.character_name == story.character_name %}
                                     <option value="{{ character.character_name }}" selected>{{ character.character_name }}</option>
                                {% else %}
                                    <option value="{{ character.character_name }}">{{ character.character_name }}</option>
                                 {% endif %}
                            {% endfor %}
                    </select>
                </div>
                <!-- plot -->
                <div class="input-field col l3 m6 s12">
                     <select id="plot_name" name="plot_name" class="validate" required>
                         <option value="" disabled>Pick Plot</option>
                            {% for plot in plots %}
                                {% if plot.plot_name == story.plot_name %}
                                     <option value="{{ plot.plot_name }}" selected>{{ plot.plot_name }}</option>
                                {% else %}
                                    <option value="{{ plot.plot_name }}">{{ plot.plot_name }}</option>
                                {% endif %}
                            {% endfor %}
                    </select>
                </div>
                <!-- resolution -->
                 <div class="input-field col l3 m6 s12">
                     <select id="resolution_name" name="resolution_name" class="validate" required>
                         <option value="" disabled>Choose Resolution</option>
                            {% for resolution in resolutions %}
                                {% if resolution.resolution_name == story.resolution_name %}
                                 <option value="{{ resolution.resolution_name }}" selected >{{ resolution.resolution_name }}</option>
                                {% else %}
                                <option value="{{ resolution.resolution_name }}">{{ resolution.resolution_name }}</option>
                                {% endif %}
                            {% endfor %}
                    </select>
                </div>
                <!-- setting -->
                 <div class="input-field col l3 m6 s12">
                     <select id="setting_name" name="setting_name" class="validate" required>
                         <option value="" disabled>Select Setting</option>
                            {% for setting in settings %}
                                {% if setting.setting_name == story.setting_name %}
                                <option value="{{ setting.setting_name }}" selected>{{ setting.setting_name }}</option>
                                {% else %}
                                 <option value="{{ setting.setting_name }}">{{ setting.setting_name }}</option>
                                {% endif %} 
                            {% endfor %}
                    </select>
                </div>
            </div>
            <!-- title-->
            <div class="row">
                <div class="col m8 s12">
                <h5><i class="fas fa-pencil-alt purple-text darken-4"></i>
                    Edit the Title</h5>
                        <input id="title_name" name="title_name" minlength="3"
                        maxlength="80" value="{{ story.title_name }}" type="text" class=" input-field validate" required>
                    <!--<label for="title_name">Title of Block+Buster</label>-->
                </div>
                <!-- genre -->
                <div class="input-field col m4 s12">
                    <h5><i class="fas fa-theater-masks purple-text darken-4"></i> 
                        Change Genre</h5>
                    <div class="input-field">
                            <select id="genre_name" name="genre_name" class="validate" required>
                                <option value="" disabled>Genre</option>
                                {% for genre in genres %}
                                    <option value="{{ genre.genre_name }}" selected>{{ genre.genre_name }}</option> 
                                    {% if genre.genre_name == story.genre_name %}
                                        <option value="{{ genre.genre_name }}">{{ genre.genre_name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                         <!-- <label for="genre_name">Pick a Genre </label> */ -->
                    </div>
                </div>
            </div>
                       <!-- cast -->


             <div class="row">
                <h5><i class="fas fa-users prefix purple-text darken-4"></i> 
                    Change Cast</h5>
                    {% for cast in casts %}
                        <div class="col s4 m3 l2">
                        <!-- <label class ="cast_url">
                            <input value="{{ cast.cast_url }}" name="cast_url" id="cast_url" type="hidden" multiple  /> -->
                            <!-- {% for cast_member in cast_members %} 
                            <img class="materialboxed" width="100%" src="{{ cast_member.cast_url}}">
                             {% endfor %} -->

                        <!-- </label> -->
                        <label class ="cast_url">
                            <input value="{{ cast.cast_url }}" name="cast_url" id="cast_url" type="hidden" multiple  />
                            <img class="materialboxed" width="100%" src="{{ cast.cast_url }}">
                        </label>
                            <p> 
                                <label class="cast-name">
                                    <!-- {% if cast_member in story.cast_members %} -->
                                    <input value="{{ cast._id }}" name="cast_id" id="cast_id" type="checkbox" checked="checked" multiple />
                                    <!-- {% else %} -->
                                     <input value="{{ cast._id }}" name="cast_id" id="cast_id" type="checkbox" multiple />
                                    <!-- {% endif %}  -->
                                    <span>{{ cast.cast_name }}</span>
                                </label>
                            </p>
                        </div>
                    {% endfor %}
            </div>



<!--<div class="row">
               <h5><i class="fas fa-users prefix purple-text darken-4"></i> 
                        Select the Cast</h5>
                <div class="input-field col-12">
                        <div class="input-field">
                                <select icons multiple id="cast_name" name="cast_name" class="validate" required>
                                    <option value="" disabled selected>Cast</option>
                                    {% for cast in casts %}
                                        <option value="{{ cast.cast_name }}" data-icon="/images/charlize-theron.jpg" class="left">{{ cast.cast_name }}</option>
                                    {% endfor %}
                                </select>-->
                            <!-- <label for="genre_name">Pick a Genre </label> */ 
                        </div>
                    </div>
                </div>
            </div> -->

            

            <!--<div class="row">
                <h5><i class="fas fa-users prefix purple-text darken-4"></i> 
                    Select the Cast</h5>
                <div class="input-field">
                <p>
                    <label>
                        <input id="cast_name" name="cast_name" type="radio" class="validate" required>
                        <span>
                            {% for cast in casts %}
                                    <option value="{{ cast.cast_name }}">{{ cast.cast_name }}</option>
                                {% endfor %}
                        </span>
                        </input>
                        </label>
                    </label>
                </p>
            </div>
            </div>-->




            <!-- buttons -->
            <div class="row">
            <!-- delete button -->
                <div class="col-s12 center-align">
                    <a href="{{ url_for('delete_story', story_id=story._id) }}" class="btn-large red accent-3 darken-4">
                         <i class="fas fa-trash-alt"></i> Delete
                     </a>
            <!-- cancel button -->
                    <a href="{{ url_for('get_stories') }}" class="btn-large grey">
                        <i class="fas fa-undo"></i> Cancel Changes 
                    </a>
            <!-- submit button -->
                    <button type="submit" class="btn-large purple accent-3 darken-4">
                        <i class="fas fa-video"></i> Update
                    </button>
                </div>
            </div>
        </form>
    </div>


{% endblock %}