{% extends "base.html" %}
{% block content %}

        <h3 class="text-center purple-text title-text"><i class="fas fa-video"></i> Edit Block+Buster
    </h3>
    <!-- story -->
    <div class="row card bb-card card-padding">
        <div class="body">
        <form class="col s12" method="POST" action="{{ url_for('edit_story', story_id=story._id) }}">
                 <h3 class="build-title purple-text"><i class="fas fa-puzzle-piece prefix"></i>
                 Edit the Story</h3>
            <div class="row">
                 <!-- character -->
                <div class="input-field col-12">
                    <select id="character_name" name="character_name" class="validate form-control" required>                        
                        <option value="" disabled>Choose Character/s</option>
                            {% for character in characters %}
                                {% if character.character_name == story.character_name %}
                                     <option value="{{ character.character_name }}" selected>{{ character.character_name }}</option>
                                {% else %}
                                    <option value="{{ character.character_name }}">{{ character.character_name }}</option>
                                 {% endif %}
                            {% endfor %}
                    </select>
                </div>
                <!-- plot -->
                <div class="input-field col-12 ">
                     <select id="plot_name" name="plot_name" class="validate form-control" required>
                         <option value="" disabled>Pick Plot</option>
                            {% for plot in plots %}
                                {% if plot.plot_name == story.plot_name %}
                                     <option value="{{ plot.plot_name }}" selected>{{ plot.plot_name }}</option>
                                {% else %}
                                    <option value="{{ plot.plot_name }}">{{ plot.plot_name }}</option>
                                {% endif %}
                            {% endfor %}
                    </select>
                </div>
                <!-- resolution -->
                <div class="input-field col-12">
                     <select id="resolution_name" name="resolution_name" class="validate form-control" required>
                         <option value="" disabled>Choose Resolution</option>
                            {% for resolution in resolutions %}
                                {% if resolution.resolution_name == story.resolution_name %}
                                 <option value="{{ resolution.resolution_name }}" selected >{{ resolution.resolution_name }}</option>
                                {% else %}
                                <option value="{{ resolution.resolution_name }}">{{ resolution.resolution_name }}</option>
                                {% endif %}
                            {% endfor %}
                    </select>
                </div>
                <!-- setting -->
                <div class="input-field col-12">
                     <select id="setting_name" name="setting_name" class="validate form-control" required>
                         <option value="" disabled>Select Setting</option>
                            {% for setting in settings %}
                                {% if setting.setting_name == story.setting_name %}
                                <option value="{{ setting.setting_name }}" selected>{{ setting.setting_name }}</option>
                                {% else %}
                                 <option value="{{ setting.setting_name }}">{{ setting.setting_name }}</option>
                                {% endif %} 
                            {% endfor %}
                    </select>
                </div>
                <!-- randomize -->
                <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col-md-6 text-center">
                            <button type="button" value="Randomize" class="btn btn-primary text-center btn-block" onclick="clickme();">
                                <h5 class="white-text text-center"><i class="fas fa-random"></i> Randomize The Story</h5>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- title-->
            <div class="row pt-4">
                  <div class="form-group col-12 col-md-8">
                <h3 class="build-title purple-text"><i class="fas fa-pencil-alt purple-title"></i>
                    Edit the Title</h3>
                        <input id="title_name" name="title_name" minlength="3"
                        maxlength="80" value="{{ story.title_name }}" type="text" class=" input-field form-control validate" required>
                    <!--<label for="title_name">Title of Block+Buster</label>-->
                </div>
                <!-- genre -->
                <div class="input-field col-12 col-md-4">
                    <h3 class="build-title purple-text"><i class="fas fa-theater-masks purple-text"></i> 
                        Change Genre</h3>
                    <div class="input-field">
                            <select id="genre_name" name="genre_name" class="form-control validate" required>
                                <option value="" disabled>Genre</option>
                                {% for genre in genres %}
                                    <option value="{{ genre.genre_name }}" selected>{{ genre.genre_name }}</option> 
                                    {% if genre.genre_name == story.genre_name %}
                                        <option value="{{ genre.genre_name }}">{{ genre.genre_name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                         <!-- <label for="genre_name">Pick a Genre </label> */ -->
                    </div>
                </div>
                </div>
                       <!-- cast -->
               <h3 class="text-center purple-text title-text pt-4"><i class="fas fa-users prefix purple-text"></i> 
                    Change Cast</h3>
                            <hr class="purple-thin">


             <div class="row">

                    {% for cast in casts %}
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-6">


                        <!-- </label> -->
                        <label class ="cast_url">
                            <img class="rounded-circle" width="100%" src="../../{{ cast.cast_url }}">
                        </label>
                                <label class="checkbox-inline cast-label">
                                    {% if cast in story.cast_members %}
                                    <input class="cast-checkbox" value="{{ cast._id }}" name="cast_id" id="cast_id" type="checkbox" checked="checked" multiple selected />
                                    {% else %}
                                    <input class="cast-checkbox" value="{{ cast._id }}" name="cast_id" id="cast_id" type="checkbox" multiple />
                                    {% endif %}
                                    <span>{{ cast.cast_name }}</span>
                                </label>
                        </div>
                    {% endfor %}
            </div>





            <!-- buttons -->
            <div class="row pt-4">
            <!-- delete button -->
                <div class="col text-center">
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3 class="modal-title purple-text" id="exampleModalLabel">Delete Block+Buster</h3>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                    <div class="modal-body">
                                        Are you sure you want to delete the <b>{{ story.title_name }}</b> Block+Buster?
                                    </div>
                                
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-lg btn-secondary" data-dismiss="modal"><i class="fas fa-undo"></i> Cancel</button>
                                        <a href="{{ url_for('delete_story', story_id=story._id) }}" class="btn-lg btn-danger text-center mx-2">
                                            <i class="fas fa-trash-alt"></i> Delete
                                        </a>
                                    </div>
                        </div>
                    </div>
                </div>

            <!-- cancel button -->
                <div class="col">
                    <a href="{{ url_for('get_stories') }}" class="btn-lg btn-secondary text-center mx-2">
                        <i class="fas fa-undo"></i> Cancel
                    </a>
                </div>
            </div> 
                
            <!-- submit button -->
            <div class="container pt-4">
                <div class="row justify-content-md-center">
                    <div class="col-md-6 text-center">
                        <button type="submit" class="btn-lg btn-primary text-center">
                            <i class="fas fa-video"></i> Update
                        </button>
                     </div>
                </div>
             </div>
        </div>


             <!-- Button trigger modal -->
<button type="button" class="btn btn-lg btn-danger" data-toggle="modal" data-target="#exampleModal">
  <i class="fas fa-trash-alt"></i> Delete
</button>




        </div>
    </form>
</div>


{% endblock %}