{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12" >
                <div class="card bb-card card-padding">
                <h1 class="text-center purple-text headline-1">
                    Become a Movie Mogul in Minutes!
                </h1>
                <h3 class="text-center purple-text headline-2">
                    You’re a Hollywood Player in Four Simple Steps
                </h3>
                <div class="row">
                    <div class="white-box text-center col-12 col-md-3" >
                        <h3 class="box-text">
                            <i class="fas fa-puzzle-piece"></i>
                            Build the Story
                        </h3>
                    </div>

                    <div class="white-box text-center col-12 col-md-3" >
                        <h3 class="box-text">
                            <i class="fas fa-pencil-alt"></i>
                            Write the Title
                        </h3>
                    </div>

                    <div class="white-box text-center col-12 col-md-3" >
                        <h3 class="box-text">
                            <i class="fas fa-theater-masks"></i>
                            Pick The Genre
                        </h3>
                    </div>

                    <div class="white-box text-center col-12 col-md-3" >
                        <h3 class="box-text">
                            <i class="fas fa-users"></i>
                            Select the Cast
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="card-panel col-10 offset-1 pt-4 pt-4">
                            <h5 class="text-center mono">
                                <i class="fas fa-mug-hot fa-pull-left fa-3x purple-text"></i>
                                 In the time it takes to brew a cup of coffee you could put together the next Blockbuster film project! Seriously!! Simply build your Block+Buster using our pre-set Character, Plot, Resolution and Setting options and maybe even try the <b><i class="fas fa-random"></i>Randomize the Story Feature</b> to mix things up.
                            </h5>
                    </div>
                        <div class="div col-12 pt-4">
                            <h4 class="bb-title text-center purple-text ">Giving Props Where Props Are Due</h4>
                                <h5 class=" text-center purple-text">
                                 Block+Buster+Builder was inspired by The Brothers’ Heimberg hilarious and ground-breaking masterpiece <em>The Official Movie Plot Generator.</em> <a href="{{ url_for('about') }}">Learn more about the book</a> - or <a href="https://www.amazon.co.uk/Official-Movie-Plot-Generator-Combinations/dp/0974043915" target="_blank" >buy a copy today</a> from Amazon.
                            </h5>
                         </div>
                    </div>    
                </div>

                    <div class="row">
                        <div class="div col-12 col-md-6 pt-4">
                            <div class="card-header card-padding">
                                <h4 class="bb-title center-align title-white"><i class="fas fa-film fa-lg icon-space"></i></br>
                                    Browse the Block+Busters</h4>
                                    <h4 class="text-center white-text">
                                        View the Collection
                                    </h4>
                                    {% if session.user %}
                                    <div class="container">
                                        <div class="row justify-content-md-center pt-4">
                                            <div class="col text-center">
                                                <a href="{{ url_for('get_stories') }}" >
                                                    <button class="btn-lg btn-primary-2 text-center">
                                                        <i class="fas fa-film"></i> Browse
                                                    </button>
                                                </a>
                                            </div>
                                            <div class="col text-center">
                                            <a href="{{ url_for('profile') }}">
                                              <button class="btn-lg btn-primary-2 text-center">
                                                <i class="fas fa-toiket-alt"></i> MyBB
                                            </button>
                                            </a>
                                            </div>
                                        </div>
                                    </div>
                                    {% else %}
                                    {% endif %}
                                    <div class="container">
                                        <div class="row justify-content-md-center pt-4">
                                            <div class="col-md-6 text-center">
                                                <a href="{{ url_for('get_stories') }}" >
                                                    <button class="btn-lg btn-primary-2 text-center">
                                                        <i class="fas fa-film"></i> Browse
                                                    </button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                 </div>
                            </div>

                        <div class="div col-12 col-md-6 pt-4">
                            <div class="card-header card-padding">
                                <h4 class="bb-title center-align title-white"><i class="fas fa-video fa-lg icon-space"></i></br>
                                    Build A Block+Buster</h4>
                                    {% if session.user %}
                                    <h4 class="text-center white-text">
                                    Create Your Own
                                    </h4>
                                    <div class="container">
                                        <div class="row justify-content-md-center pt-4">
                                            <div class="col-md-6 text-center">
                                                <a href="{{ url_for('add_story') }}">
                                                    <button class="btn-lg btn-primary-2 text-center">
                                                        <i class="fas fa-video"></i> Build
                                                    </button>
                                                </a>
                                            </div>
                                        </div>
                                    {% else %}
                                    <h4 class="text-center white-text">
                                    Login or Register to Build Your Own
                                    </h4>
                                    <div class="container">
                                        <div class="row justify-content-md-center pt-4">
                                            <div class="col text-center">
                                            <a href="{{ url_for('login') }}">
                                                <button class="btn-lg btn-primary-2 text-center">
                                                <i class="fas fa-sign-in-alt"></i> Login
                                                </button>
                                            </a>
                                            </div>
                                            <div class="col text-center">
                                            <a href="{{ url_for('register') }}">
                                              <button class="btn-lg btn-primary-2 text-center">
                                                <i class="fas fa-user-plus"></i> Register
                                            </button>
                                            </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}