{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col s12 m12 " >
            <div class="card-panel purple lighten-5">
                <h2 class="center-align purple-text text-darken-4 headline">
                    Become a Movie Mogul in Minutes!
                </h2>
                <h3 class="center-align purple-text accent headline">
                    You’re a Hollywood Player in Four Simple Steps
                </h3>
                <div class="row">

                    <div class="white-box center-align col s12 m3" >
                        <div class="box-text">
                            Build the Story
                        </div>
                    </div>

                    <div class="white-box center-align col s12 m3" >
                        <div class="box-text">
                            Write the Title
                        </div>
                    </div>

                    <div class="white-box center-align col s12 m3" >
                        <div class="box-text">
                            Pick A Genre
                        </div>
                    </div>

                    <div class="white-box center-align col s12 m3" >
                        <div class="box-text">
                            Select A Cast
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="card-panel purple darken-1 s12">
                        <h5 class="center-align white-text">
                             In the time it takes to brew a cup of coffee you could put together the next Blockbuster film project. Simply create using our pre-set Character, Plot, Resolution and Setting options - and try some Random Choices to mix things up.
                        </h5>
                        </div>
                            <h6 class="center-align purple-text">
                                 Block+Buster+Builder is heavily inspired by The Brothers’ Heimberg hilarious and ground-breaking masterpiece The Movie Plot Generator. Learn more about that here - or buy a copy today from Amazon
                            </h6>
                         </div>
                    </div>    
                </div>

            <div class="div col m6 s12">
                <div class="card-panel purple accent-1">
                    Browse
                </div>
            </div>
            <div class="div col m6 s12">
                <div class="card-panel purple accent-1">
                    Build
                </div>
            </div>
        </div>

{% endblock %}